## Settings file was created by plugin Lethal Escape v0.5
## Plugin GUID: xCeezy.LethalEscape

[Can Monster Escape]

## Whether or not the Thumper can escape
# Setting type: Boolean
# Default value: true
ThumperEscape = true

## Whether or not the Bracken can escape
# Setting type: Boolean
# Default value: true
BrackenEscape = true

## Whether or not the Jester can escape
# Setting type: Boolean
# Default value: true
JesterEscape = true

## Whether or not the Hoarding Bugs can escape
# Setting type: Boolean
# Default value: true
HoardingBugEscape = true

## Whether or not Coil Head can escape
# Setting type: Boolean
# Default value: true
CoilHeadEscape = true

